.footer {
  align-items: center;
  justify-content: space-between;
  background-color: rgb(233, 231, 231);
  margin-top: 10px;
  padding: 10px;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
}

p {
  color: rgb(58, 57, 57);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  padding: 5px;
}
